.advertiser {
  @include min-width('mac') {
    margin-left: 30px;
  }
  @include min-width('large') {
    margin-left: 40px;
  }
  &__decor-up {
    position: absolute;
    width: 240px;
    height: 240px;
    top: 0;
    right: 0;
  }
  &__decor-down {
    position: absolute;
    width: 240px;
    height: 240px;
    bottom: 0;
    left: 0;
  }

  &__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include min-width('mac') {
      padding-right: 0;
      padding-left: 0;
    }
  }
  &__wrapper {
    position: relative;
    padding-top: 59px;
    padding-bottom: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 345px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 76px;
    border: 1px solid rgb(116, 116, 116, 25%);
    border-radius: 30px;
    border-bottom: 0;
    backdrop-filter: blur(12.682665824890137px);
    transform: translate3d(0, 0, 0);

    margin-bottom: 50px;
    @include min-width('mac') {
      width: 522px;
      padding-top: 95px;
      padding-right: 34px;
      padding-bottom: 124px;
      padding-left: 39px;
      margin-bottom: 0;
    }
    @include min-width('large') {
      width: 579px;
      padding-top: 105px;
      padding-right: 15px;
      padding-bottom: 134px;
      padding-left: 15px;
      margin-bottom: 0;
    }
  }
  &__title {
    margin-bottom: 20px;
    @include min-width('mac') {
      @include font(40px, 700, 40px);
    }

    @include min-width('mac') {
      margin-bottom: 35px;
    }
  }
  &__list {
    @include min-width('large') {
      width: 439px;
    }
  }
  &__item {
    display: flex;
    color: $text-descr;
    @include font(14px, 400, 20px);
    @include min-width('mac') {
      @include font(16px, 400, 20px);
    }
  }
  &__item::before {
    color: $text-descr; /* Цвет маркера */
    content: '•'; /* Сам маркер */
    padding-right: 10px; /* Расстояние от маркера до текста */
  }
}
.large {
  @include min-width('mac') {
    display: none;
  }
}
