.benefits {
  padding-top: 88px;
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @include min-width('mac') {
      flex-direction: row;
    }
    &-item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    &-item:not(:last-child) {
      margin-bottom: 65px;
      @include min-width('mac') {
        margin-right: 19px;
      }
    }

    &-inf {
      position: relative;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 285px;
      height: 169px;
      border-radius: 30px;
      border: 1px solid rgb(116, 116, 116, 25%);
      border-bottom: 0;
      backdrop-filter: blur(12.682665824890137px);
      transform: translate3d(0, 0, 0);
      @include min-width('mac') {
        width: 258px;
      }
      @include min-width('large') {
        width: 285px;
      }
    }
    &-text {
      @include font(40px, 700, 48px);
      margin-bottom: 10px;
      &-small {
        @include font(21px, 400, 21px);
      }
    }
    &-img {
      position: absolute;
      top: 0;
      &-1 {
        top: -65px;
        width: 134px;
        height: 146px;
      }
      &-2 {
        top: -55px;

        width: 98px;
        height: 72px;
      }
      &-3 {
        top: -75px;

        width: 133px;
        height: 128px;
        transform: rotate(-5.819deg);
      }
      &-4 {
        top: -60px;

        width: 81px;
        height: 83px;
      }
    }
  }
}
